.AboutPage-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
}

.learn-about-me-btn {
    border-style: solid;
}