.NavBar-main {
    width: 100vw;
    padding-top: 5vh;
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
}

.links-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.socials-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h1 {
    text-align: center;
}