/* Web Dev */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
body {
    font-family: 'Roboto Condensed';
}
.NavBar-main {
    position: fixed;
    height: 10vmin;
    display: flex;
    width: 100%;
    align-items: end;
    background-color: rgb(227, 227, 227);
    box-shadow: 0px 2px black;
    padding-bottom: 1vh;
}

#NavBar-colored {
    background-color: rgb(60, 60, 60);
    box-shadow: 0px 2px black;
    transition: background-color 300ms linear;
}

#NavBar-transparent {
    background-color: transparent;
    box-shadow: 0px 0px transparent;
    transition: background-color 300ms linear;
}
.NavBar-main h1 {
    font-family: 'Roboto Condensed';
    font-size: 6vh;
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 10vw;
}

.NavBar-main h2 {
    font-family: 'Roboto Condensed';
    font-size: 3.5vh;
    color: white;
    text-shadow: 2px 2px black;
}

.NavBar-main div {
    margin-left: auto;
    margin-right: 10vw;
}

.NavBar-hamburger-view {
    display: none;
}

.NavBar-main button {
    border-style: none;
    background-color: transparent;
}

.NavBar-main button :hover {
    scale: 107%;
    cursor: pointer;
    color: rgb(249, 251, 145);
}

.links-div button :hover {
    
}

/* Mobile Dev */
@media (max-width: 800px) {
    /* .NavBar-main {
        height: 10vh;
        display: flex;
        width: 100%;
    } */
    
    .NavBar-hamburger-view {
        display: flex;
        background-color: red;
        height: 10vh;
        aspect-ratio: 1/1;
    }

    .links-div {
        display: none;
    }

    .NavBar-main {
        padding-top: 1vh;
    }
}