.NavBar-main {
    position: fixed;
    width: 100vw;
    padding-top: 5vh;
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);
}

.links-div {
    display: flex;
    justify-content: space-evenly;
}

.socials-div {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}