.HomePage-main {
    height: 100vh;
    display: flex;
    background-image: url("/public/arches.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    margin-top: 15vh;
    margin-inline: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.intro-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.633);
    width: 65%;
    height: 40%;
    background-color: rgba(69, 69, 69, 0.714);
    border-radius: 5vh;
    color: white;
}

.text-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    width: 100%;
}

#rotating-text h1 {
    position: absolute;
    font-size: 4vh;
    opacity: 0;
    animation: rotating-text 50s linear infinite;
}

#rotating-text h1:nth-child(2) {
    animation-delay: 5s;
}
#rotating-text h1:nth-child(3) {
    animation-delay: 10s;
}
#rotating-text h1:nth-child(4) {
    animation-delay: 15s;
}  
#rotating-text h1:nth-child(5) {
    animation-delay: 20s;
}
#rotating-text h1:nth-child(6) {
    animation-delay: 25s;
}
#rotating-text h1:nth-child(7) {
    animation-delay: 30s;
}
#rotating-text h1:nth-child(8) {
    animation-delay: 35s;
}
#rotating-text h1:nth-child(9) {
    animation-delay: 40s;
}
#rotating-text h1:nth-child(10) {
    animation-delay: 45s;
}
@keyframes rotating-text {
    0% {
        opacity: 0;
    }
    5% {
        transform: translateY(-20px);
    }
    7% {
        opacity: 0;
    }
    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    18% {
        opacity: 0;
    }
    30% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Mobile Dev */
@media (max-width: 800px) {
    .content {
        width: 100%;
        margin-inline: 0vh;
    }

    .intro-bio {
        width: 90%;
        height: 30%;
    }
    .intro-bio h1 {
        font-size: 6vw;
    }

    #rotating-text h1 {
        font-size: 5vw;
    }
}