.HomePage-main {
    height: 100vh;
    display: flex;
    background-color: rgb(56, 186, 64);
}

.learn-about-me-btn {
    border-style: solid;
}

.content {
    width: 100%;
    margin-top: 15vh;
    margin-inline: 5vh;
    margin-bottom: 5vh;
    display: flex;
    border-style: solid;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}