.AppsPage-main {
    min-height: 100vh;
    display: flex;
    background-color: #d30d0d;
}

.AppsPage-main .content {
    width: 100%;
    margin-top: 15vh;
    margin-inline: 10%;
    margin-bottom: 5vh;
    display: flex;
    border-style: none;
    justify-content: start;
}

.AppsPage-main h1{
    text-shadow: 2px 2px black;
    font-size: 6vh;
    color: white;
}
.AppsPage-main h2 {
    font-size: 2.5vh;
    margin-top: 2vh;
}

.projects-div {
    width: 90%;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
}

@media (max-width: 800px) {
    .AppsPage-main h1{
        font-size: 8vw;
    }
    .projects-div {
        grid-template-columns: repeat(1, 1fr);
    }
}
